In [1]:
import pandas as pd
import numpy as np
import xlrd
import os
import re
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
pd.set_option('max_row', 20)

* Gapminder Documentation 001 – GDP per Capita by Purchasing Power Parities
* Gapminder Documentation 002 – Infant Mortality Rate
* Gapminder Documentation 003 – Total Population
* Gapminder Documentation 004 – Life Expectancy at Birth
* Gapminder Documentation 005 – Under-five mortality rate
* Gapminder Documentation 007 – GDP per capita by PPP for sub-national units
* Gapminder Documentation 008 – Children per woman (total fertility)

In [3]:
xlrd.open_workbook('source/gapdata008 v6.xlsx').sheet_names()

['Info', 'Data & metadata', 'Sources', 'Conversion keys']

In [4]:
data001 = pd.read_excel('source/gapdata008 v6.xlsx', sheetname='Data & metadata')

In [5]:
data001.head()

,Area,Year,"Total Fertility Rate (TFR), also called Children per Woman",TFR interpolated,Crude Birth Rate (CBR),Princeton If index,Source TFR,Source CBR,Possible error in data,Note 1,Note 2,Region,Conversion key,Alternative data,Adjustment factors
0,Abkhazia,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1800,7.0013,7.0013,NaN,NaN,Extrapolated backwards. Same figure as in 1925.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1801,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1802,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1803,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
area = data001['Area'].unique()

In [7]:
area_id = list(map(to_concept_id, area))

In [8]:
ent = pd.DataFrame([], columns=['area', 'name'])

In [9]:
ent['area'] = area_id
ent['name'] = area

In [10]:
ent.to_csv('../ddf--entities--area.csv', index=False)

In [11]:
data001_dp_1 = data001[['Area', 'Year', 'Total Fertility Rate (TFR), also called Children per Woman']].copy()
data001_dp_2 = data001[['Area', 'Year', 'TFR interpolated']].copy()

In [12]:
to_concept_id('Total Fertility Rate')

'total_fertility_rate'

In [13]:
data001_dp_1.columns = ['area', 'year', 'total_fertility_rate']
data001_dp_2.columns = ['area', 'year', 'total_fertility_rate_interpolated']

In [14]:
data001_dp_1['area'] = data001_dp_1['area'].map(to_concept_id)
data001_dp_2['area'] = data001_dp_2['area'].map(to_concept_id)

In [15]:
data001_dp_1.dropna().sort_values(by=['area', 'year']).to_csv('../ddf--datapoints--total_fertility_rate--by--area--year.csv', index=False)

In [16]:
data001_dp_2.dropna().sort_values(by=['area', 'year']).to_csv('../ddf--datapoints--total_fertility_rate_interpolated--by--area--year.csv', index=False)

In [17]:
conc = ['total_fertility_rate', 'total_fertility_rate_interpolated', 'area', 'year', 'name']

In [18]:
cdf = pd.DataFrame([], columns=['concept', 'name', 'concept_type'])

In [19]:
cdf['concept'] = conc
cdf['name'] = ['Total Fertility Rate (TFR), also called Children per Woman', 'TFR interpolated', 'Area', 'Year', 'Name']
cdf['concept_type'] = ['measure', 'measure', 'entity_domain', 'time', 'string']

In [20]:
cdf.to_csv('../ddf--concepts.csv', index=False)

In [21]:
create_index_file('../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
0,"area,year",total_fertility_rate,ddf--datapoints--total_fertility_rate--by--are...
0,"area,year",total_fertility_rate_interpolated,ddf--datapoints--total_fertility_rate_interpol...
0,area,name,ddf--entities--area.csv